section {
    border: 5px solid rgb(42, 4, 59);
    background-image: linear-gradient(to bottom right, rgb(184, 146, 199), rgb(66, 13, 87));
    border-radius: 7px;
    max-width: 1000px;
    min-height: 600px;
    padding: 20px;
    margin: 20px auto 40px;
}

article {
    border: 3px solid rgb(70, 9, 99);
    background-color: rgb(215, 177, 245);
    border-radius: 5px;
    padding: 20px;
    flex-grow: 1;
    color: black;
}

@media only screen and (max-width: 504px) {
  
    div.pageTitle {
      background-image: linear-gradient(160deg, 
      rgb(80, 62, 95) 0%, 
      rgb(170, 143, 192) 35%, 
      rgb(63, 43, 78) 100%);
      border: 5px solid rgb(42, 4, 59);
      border-radius: 7px;
      height: 80%;
      margin: 0;
    }
  
    div.pageTitle > h1 {
      font-size: 28px;
      margin: 0;
      padding: 20px 10px;
      font-weight: 700;
      font-family: "Roboto Mono", monospace;
      text-shadow: 0px 0px 15px white;
      color: rgb(59, 22, 102);
      -webkit-text-stroke: 0.5px rgb(216, 191, 245);
    }
  
    header {
      margin: 0;
      padding: 20px 20px 0;
      width: auto;
      background-color: rgb(212, 172, 245);
      border: 10px solid rgb(42, 4, 59);
      border-radius: 15px;
    }
  
    p.dots {
      text-align: right;
      margin-right: 25px;
      font-size: 36px;
      line-height: 0.8;
      color: rgb(139, 76, 184);
      text-shadow: 1px 0 black,
                   0 1px black,
                   -1px 0 black,
                   0 -1px black;
    }
  
    span.dot3 {
      color: rgb(51, 31, 226);
    }
  
    body {
      background-color: rgb(42, 4, 59);
    }
  
    header > p {
      display: block;
    }
  
    footer {
      background-color: rgb(238, 213, 248);
    }
  
  }


  @media only screen and (max-width: 409px) {
    div.pageTitle > h1 {
      font-size: 24px;
    }
  }