html {
    font-size: 20px;
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(246, 225, 255);
}

header {
  margin: 1rem auto;
  width: 95%;
  text-align: center;
  color: rgb(92, 7, 122);
}

header > p {
  display: none;
}

div.pageTitle > h1 {
  font-size: 2.4rem;
}

main::after {
  display: block;
  height: 1.5rem;
  width: 100%;
  content: ' ';
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bold;
  box-shadow: 0 1px 15px black;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(238, 213, 248);
}

footer p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  text-shadow: 0 0 4px rgb(140, 140, 140);
  color: rgb(161, 235, 255);
  transition: text-shadow 0.5s, 
              color 0.5s;
  font-weight: 500;
}

a:visited {
  color: rgb(151, 95, 160);
  text-shadow: none;
}

a:hover {
  text-shadow: 0 0 5px rgb(91, 91, 91);
  color: rgb(195, 244, 255);
}

p {
  letter-spacing: 0.5px;
}

