html {
    font-size: 20px;
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(238, 213, 248);
}

header {
  margin: 1rem auto;
  width: 95%;
  text-align: center;
  color: rgb(92, 7, 122);
}

header > p {
  display: none;
}

div.pageTitle > h1 {
  font-size: 2.4rem;
}

footer {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  box-shadow: 0 1px 15px black;
}

a {
  text-decoration: none;
  color: rgb(221, 170, 208);
  text-shadow: 1px 1px black;
  transition: text-shadow 1s, 
              color 0.5s;
  font-weight: 400;
}

a:visited {
  color: rgb(224, 86, 190);
}

a:hover {
  text-shadow: 1px 1px 4px black;
  color: rgb(77, 202, 230);
}