/* 
Written by Michael Saunders
20 May 2021
@tonichaelmight
*/

section.commands {
  border: 5px solid rgb(42, 4, 59);
  background-image: linear-gradient(to bottom right, rgb(184, 146, 199), rgb(66, 13, 87));
  border-radius: 7px;
  max-width: 1000px;
  min-height: 600px;
  padding: 20px;
  margin: 20px auto 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
}

section.notes {
  font-family: Roboto, sans-serif;
  margin: 0 40px 40px;
  max-width: 960px;
}

ol.notes-list {
  line-height: 1.5;
  list-style-type: decimal;
  list-style-position: inside;
}

ol.notes-list > li {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}

section.tweets {
  padding: 20px 20px;
  border-top: 40px solid white;
  border-bottom: 40px solid white;
  margin: 0 auto;
  text-align: center;
  
  /* background-color: rgba(0, 0, 0, .2); */
  background-image: radial-gradient(circle farthest-corner at 75px 25px,
                                    rgb(12, 12, 12) 0%, 
                                    rgb(24, 24, 24) 5%,
                                    rgb(30, 30, 30) 10%,
                                    rgb(121, 121, 121) 40%,
                                    rgb(249, 235, 255) 60%, 
                                    rgb(70, 24, 83) 90%);
}

article.command-list {
  border: 3px solid rgb(70, 9, 99);
  background-color: rgb(215, 177, 245);
  border-radius: 5px;
  padding: 20px;
  flex-grow: 1;
  color: black;
}

article.command-list > ul {
  list-style-type: none;
  line-height: 1.75;
  display: inline-block;
}

article.command-list > ul > li {
  font-size: 18px;
}

ul > li > p, ul > li > em {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

h2.notes-header {
  font-size: 24px;
  text-decoration: underline;
  margin-bottom: 15px;
}

p[data] {
  cursor: pointer;
  color: black;
  position: relative;
  display: inline-block;
}

/* ROLLOVER TEXT */
p[data]:after {
  z-index: -1;
  content: attr(data);
  position: absolute;
  left: -10px;
  bottom: 130%;
  width: 225px;
  background: rgb(243, 231, 178);
  padding: 7px 15px;
  color: black;
  border-radius: 7px;
  border: 2px solid black;
  opacity: 0;
  transition: all 0.5s ease;
}

ul.sublist > li > p[data]:after {
  left: -35px;
}

/* triangle */
p[data]:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid black;
  border-left: 15px solid transparent;
  border-right: 20px solid transparent;
  transition: all 0.4s ease;
  opacity: 0;
  left: 20%;
  bottom: 100%;
}

p[data]:hover:after {
  z-index: 2;
  bottom: 110%;
  opacity: 1;
  display: inline;
}

p[data]:hover:before {
  z-index: 1;
  bottom: 80%;
  opacity: 1;
  display: inline;
}
/* END ROLLOVER */

span.key {
  font-weight: bold;
}


ul.sublist {
  position: relative;
  left: 12px;
  font-size: 18px;
}

h3.category {
  text-align: center;
  font-size: 28px;
  text-decoration: underline;
  margin-bottom: 20px;
}

img.bexxte-love {
  height: 75px;
  width: 75px;
  position: relative;
  top: 20px;
  left: 20px;
  display: inline-block;
  float: right;
}

img.emote-smol {
  margin-right: 5px;
}

div.twitter-tweet {
  margin: 0 auto;
}

blockquote.twitter-tweet {
  display: none;
}


em {
  font-style: italic;
}

strong {
  font-weight: bold;
}


@media only screen and (min-width: 1081px) {
  section.notes {
    margin: 40px auto;
  }
}


@media only screen and (max-width: 504px) {

  section.commands {
    margin: -10px 0 0;
    border: 10px solid rgb(42, 4, 59);
    border-radius: 15px;
  }

  div.pageTitle {
    background-image: linear-gradient(160deg, 
    rgb(80, 62, 95) 0%, 
    rgb(170, 143, 192) 35%, 
    rgb(63, 43, 78) 100%);
    border: 5px solid rgb(42, 4, 59);
    border-radius: 7px;
    height: 80%;
    margin: 0;
  }

  div.pageTitle > h1 {
    font-size: 28px;
    margin: 0;
    padding: 20px 10px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    text-shadow: 0px 0px 15px white;
    color: rgb(59, 22, 102);
    -webkit-text-stroke: 0.5px rgb(216, 191, 245);
  }

  header {
    margin: 0;
    padding: 20px 20px 0;
    width: auto;
    background-color: rgb(212, 172, 245);
    border: 10px solid rgb(42, 4, 59);
    border-radius: 15px;
  }

  p.dots {
    text-align: right;
    margin-right: 25px;
    font-size: 36px;
    line-height: 0.8;
    color: rgb(139, 76, 184);
    text-shadow: 1px 0 black,
    0 1px black,
    -1px 0 black,
    0 -1px black;
  }

  span.dot3 {
    color: rgb(202, 32, 32);
  }

  body {
    background-color: rgb(42, 4, 59);
  }

  header > p {
    display: block;
  }

  footer {
    background-color: rgb(238, 213, 248);
  }

  section.notes {
    background-color: rgb(238, 213, 248);
    margin: 0 0 -10px;
    padding: 40px;
    border: 10px solid rgb(42, 4, 59);
    border-radius: 15px;
    position: relative;
    top: -10px;
  }

  ol.notes-list > li {
    font-size: 16px;
  }

}



@media only screen and (max-width: 1080px) and (min-width: 505px) {
  section.commands {
    margin: 20px 20px 40px;
  }
}



@media only screen and (max-width: 409px) {
  div.pageTitle > h1 {
    font-size: 24px;
  }
}